# https://github.com/github/gitignore/blob/main/Dart.gitignore

# Artifacts of the tools
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
.web_plugins/

# Symbol lookup table for Crashlytics
app.*.symbols

# Executable shuffle files
*.exe
*.jit
*.snapshot

# Android specific
.gradle/
local.properties
*.apk
*.ap_
*.aab

# iOS specific
.mtj.tmp/
*.gz
*.xcworkspace
!/ios/Runner.xcworkspace
DerivedData/
Pods/
Podfile.lock

# macOS specific
.DS_Store

# IDEs and editors
.idea/
.vscode/
*.iml

# Environment Variables (Custom)
*.env
*.env.*